.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px 12px;
    width: 30rem;
    height: 8rem;
    margin: 2rem;
    font-size: 1.2em;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 5px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #f5ba13;
    border: none;
    color: white;
    float: right;
    margin-right: 1rem;
}

textarea {
    border: none;
    width: 100%;
    height: 4rem;
    resize: none;
}

input {
    border: none;
    width: 100%;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}